.whatsPopular {
    margin: 20px 120px;
    display: flex;
}

h1 {
    font-size: 25px;
}

.divClick {
    border-radius: 25px;
    border: 1px solid black;
    width: auto;
    margin-left: 20px;
}

.click{
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    color: rgb(1, 180, 228);
    background-color: rgb(13, 37, 63);
}

.noclick {
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
    color: rgb(13, 37, 63);
}